@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: 'Poppins', Arial, Helvetica, sans-serif; /* Added Poppins as the primary font */
  --color-green: #84994F;
  --color-yellow: #FFE797;
  --color-blue: #476EAE;
  --color-orange: #ED775A;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input:-webkit-autofill {
  background-color: #e5e7eb; /* Match the background color */
  color: #6b7280; /* Match the text color */
  border: 1px solid #d1d5db; /* Match the border color */
  -webkit-text-fill-color: #6b7280; /* Ensure text color matches */
  transition: background-color 5000s ease-in-out 0s; /* Prevent flashing */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary); /* Updated to use the new font-primary variable */
}

/* Example usage */
.green-custom {
  background-color: var(--color-green);
}
.yellow-custom {
  background-color: var(--color-yellow);
}
.blue-custom {
  background-color: var(--color-blue);
}
.orange-custom {
  background-color: var(--color-orange);
}
